.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: skyblue;
  color: white;
}

.products{
  /* main produc component */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 7, 39);
  color: white;
  width: 100%;
}

.productPage{
  /* parent div in the product component */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:0.5ps;
  width: 50%;
}

.card{
  /* representing each product from the api */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.50px 0.50px 5px .50px grey;
  background-color: white;
  color: black;
  text-align: left;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}

#summary{
  /* for the summary component that displays on-click of the add to cart button */
  position: absolute;
  top: 50%;
  left: 20px;
  right: 0px;
  bottom: 5px;
}